<form action="{{ path('score_cms_page_edit_blocks') }}" method="post">
    <input type="hidden" name="id" id="page_id" value="{{ page.id }}"/>

    <div class="row">
        <div class="col-sm-12">
            <h2>
                {{ 'score.page.edit.block.title'|trans }}
            </h2>
            <div class="row {{ page.layout }}">
                <!-- left bar -->
                {% if page.hasLeftBar %}
                    <div class="cms-left">
                        <h3>
                            {{ 'score.page.edit.block.leftPlace.title'|trans }}
                        </h3>
                        <div class="dd">
                            <ol id="block-left" class="dd-list" data-count="{{ page.pageBlocks | length }}">
                                {% for pageBlock in page.pageBlocks %}
                                    {% if pageBlock.place is same as 'left' %}
                                        {{ include('@ScorePage/Admin/_block.html.twig',{'pageBlock': pageBlock,'place':'left'}) }}
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="add-block">
                            <a data-target="left" href="#"
                               class="btn btn-success">
                                {{ 'score.page.edit.block.add'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}


                <!--center bar-->
                <div class="cms-center">
                    <h3>
                        {{ 'score.page.edit.block.centerPlace.title'|trans }}
                    </h3>
                    <div class="dd">
                        <ol id="block-center" class="dd-list" data-count="{{ page.pageBlocks | length }}">
                            {% for pageBlock in page.pageBlocks %}
                                {% if 'center' is same as pageBlock.place %}
                                    {{ include('@ScorePage/Admin/_block.html.twig',{'pageBlock': pageBlock,'place':'center'}) }}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="add-block">
                        <a data-target="center" href="#"
                           class="btn btn-success">
                            {{ 'score.page.edit.block.add'|trans }}
                        </a>
                    </div>
                </div>

                <!-- right bar -->
                {% if page.hasRightBar %}
                    <div class="cms-right">
                        <h3>
                            {{ 'score.page.edit.block.rightPlace.title'|trans }}
                        </h3>
                        <div class="dd">
                            <ol id="block-right" class="dd-list" data-count="{{ page.pageBlocks | length }}">
                                {% for pageBlock in page.pageBlocks %}
                                    {% if 'right' is same as pageBlock.place %}
                                        {{ include('@ScorePage/Admin/_block.html.twig',{'pageBlock': pageBlock,'place':'right'}) }}
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="add-block">
                            <a data-target="right" href="#"
                               class="btn btn-success">
                                {{ 'score.page.edit.block.add'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="overlay-modal">
        <div>
            <div class="close-wrapper">
                <a href="#" class="close-overlay">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <h2>
                {{ 'score.page.edit.block.available.topTitle'|trans }}
            </h2>
            <table id="page-blocks-datatable" class="table table-striped display compact" data-position="">
                <thead>
                <tr>
                    <th>{{ 'score.page.edit.block.available.name'|trans }}</th>
                    <th>{{ 'score.page.edit.block.available.type'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="ui-sortable">
                {% for blockItem in availableBlocks %}
                        <tr>
                            <td>
                                {{ blockItem.name }}
                            </td>
                            <td>
                                {{ blockItem.type }}
                            </td>
                            <td>
                                <a href="#" data-id="{{ blockItem.id }}" data-name="{{ blockItem.name }}">{{ "score.page.edit.block.add" | trans }}</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button class="btn btn-success btn-lg" type="submit">
        {{ 'score.page.edit.save'|trans }}
    </button>
</form>
