<form action="{{path('score_cms_page_edit_blocks')}}" method="post">
    <input type="hidden" name="id" id="page_id"  value="{{page.id}}"/>
    {% for group in groups %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ group.name }}</h3>
            </div>

            <div class="box-body">
                <ul class="todo-list ui-sortable">
                    {% for block in group.blocks %}
                        <li id="block_{{block.id}}">
                            <!-- drag handle -->

                            <!-- checkbox -->
                            <input type="checkbox" value="{{block.id}}" name="page_blocks[]" {% if block.id in pageBlocks|keys %}checked="checked"{% endif %}>
                            <!-- todo text -->
                            <span class="text">{{block.name}}</span>

                            <select name="place[{{block.id}}]">
                                <option value="left" {% if block.id in pageBlocks|keys and pageBlocks[block.id].place == 'left' %}selected="selected"{% endif %}>vľavo</option>
                                <option value="center" {% if block.id in pageBlocks|keys and  pageBlocks[block.id].place == 'center' %}selected="selected"{% endif %}>stred</option>
                                <option value="right" {% if block.id in pageBlocks|keys and  pageBlocks[block.id].place == 'right' %}selected="selected"{% endif %}>vpravo</option>
                            </select>
                            <!-- Emphasis label -->
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">

            </div>
        </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">{{'score.page.edit.save'|trans}}</button>
</form>
