<form action="{{path('score_cms_page_edit_blocks')}}" method="post">
    <input type="hidden" name="id" id="page_id"  value="{{page.id}}"/>

    {#
    <iframe style="width: 100%; min-height: 800px">
        {{ include('@Content/Default/subpage.html.twig',{'page': page}) }}
    </iframe>
    #}

    <div class="blocks-wrapper {{page.layout}}">
        {% if page.hasLeftBar %}
            <div class="left-sidebar">

                {% for pageBlock in page.pageBlocks %}
                    {% if 'left' == pageBlock.place %}
                        <h2>{{ pageBlock.block.name }}</h2>
                        {{ include('@Content/Default/_block.html.twig',{'pageBlock': pageBlock}) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        <div class="main-content">
            {{ page.content|raw }}
        </div>

        {% if page.hasRightBar %}
            <div class="right-sidebar">
                {% for pageBlock in page.pageBlocks %}
                    {% if 'right' == pageBlock.place %}
                        <h2>{{ pageBlock.block.name }}</h2>
                        {{ include('@Content/Default/_block.html.twig',{'pageBlock': pageBlock}) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>



    {{ dump(page.layout) }}
    {{ dump(pageBlocks) }}

    <button class="btn btn-success" type="submit">{{'score.page.edit.save'|trans}}</button>
</form>
