<li id="item_{{ pageBlock.id }}" class="dd-item" data-block-id="{{ pageBlock.block.id }}">
    <div class="dd-item-wrap">
        <a href="#" class="remove-block-trigger btn btn-sm btn-danger pull-right">
            {{ 'score.page.edit.block.delete'|trans }}
        </a>         <span class="dd-handle">
        {{ pageBlock.block.name }}
        </span>
        <div class="menu-item-edit-block" id="menu-item-edit-block-{{ pageBlock.id }}">
            <input type="hidden" name="page_blocks[{{ place }}][]" value="{{ pageBlock.block.id }}"/>
            <div class="box-body clear">
            </div>
        </div>
    </div>
</li>
