{{ form_start(form) }}
<div class="row">
	{{ form_errors(form) }}
	<div class="col-sm-9">

		{{ form_row(form.name) }}


		<div class="row">
			<div class="col-sm-5">
				{{ form_row(form.title) }}
			</div>
			<div class="col-sm-5">
				<div class="form-group">
					{{ form_label(form.seo_id) }}
					{{ form_errors(form.seo_id) }}<br/>
					{{ domain }}
					/
					{{ form_widget(form.seo_id,{'attr':{'style':'display:inline-block; max-width:70%; padding-left:2px;'}}
					) }}
				</div>
			</div>
			<div class="col-sm-2 text-right">
				{% if page.id > 0 %}
					<a style="margin-top:25px;" class="btn btn-info open-window-trigger" href="{{ path('subpage_preview',{'id' : page.id}) }}">{{ 'score.page.edit.preview'|trans }}</a>
				{% endif %}
			</div>
		</div>


		<div class="form-group">
			{{ form_row(form.content,{'id':'test'}) }}
		</div>
	</div>

	<div
		class="col-sm-3">
		<!-- PARENT PAGE -->
		<div class="form-group">
			<label for="parent_page">{{ 'score.page.edit.parentPage'|trans }}</label>
			<select name="parent_page" id="parent_page" class="form-control">
				<option value="">{{ 'score.page.edit.emptyParent'|trans }}</option>
				{% for parentPage in parentPages %}
					<option {% if parentPage.id == page.parentId %} selected="selected" {% endif %} value="{{ parentPage.id }}">{{ parentPage.lvlPrefix }}
						{{ parentPage.name }}</option>
				{% endfor %}
			</select>
		</div>

		<!-- PAGE VISIBILITY -->
		{{ form_row(form.status) }}

		<!-- PAGE LAYOUT -->
		{{ form_row(form.layout) }}

        
		{% if form.multisite.vars.choices| length  > 0 %}
			<div class="form-group">
				{{ form_row(form.multisite) }}
			</div>
		{% endif %}


        <h3>{{ 'score.page.edit.subpages'|trans }}</h3>
		{% if subpages | length %}
			
			<ul>
				{% for subpage in subpages %}
					<li>
						<a href="{{ path('score_cms_page_edit', {'id': subpage.id}) }}">{{ subpage.name }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h5>{{ 'score.page.edit.noSubpages'|trans }}</h5>
		{% endif %}



		{% if logs is defined and logs | length %}
			<h3>{{ 'score.block.edit.log.title'|trans }}</h3>
			<ul class="log-list">
				{% for log in logs %}
					<li>
						<a href="#" title="[Zmena-{{ log.id }}]" data-content="{{ log.oldValue }}">{{ log.createdAt | date("d. m. Y - H:i") }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h5>{{ 'score.block.edit.log.noLog'|trans }}</h5>
		{%  endif %}


	</div>


</div>

<button type="submit" class="btn btn-success btn-lg">{{ 'score.page.edit.save'|trans }}</button>
<a class="btn btn-danger btn-sm" href="">{{ 'score.page.edit.cancel'|trans }}</a>
{{ form_end(form) }}
