 <script src="{{ asset('bundles/scorecms/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/ckeditor/config.js') }}?v=1"></script>
    <script src="{{ asset('bundles/scorecms/plugins/slugify/slugify.js') }}"></script>
    <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        var roxyFileman = '/bundles/scorecms///plugins/fileman/index.html';
        $(function () {
            CKEDITOR.replace('test', {filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload'});


                //CKEDITOR.config.contentsCss = '/idsk/css/main.css' ;  
        });

        $('#page_form_name').on('keydown', function () {
            var slug = url_slug($('#page_form_name').val());
            if ($('#page_form_seo_id').val() == '')
            {
                $('#page_form_seo_id').val(slug);
            }
        });
    </script>