{% extends '@ScoreCms/Default/adminLayout.html.twig' %}
{% import "@ScoreBase/Default/macros.html.twig" as m %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/sortable/nestable.css') }}" rel="stylesheet"/>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/scorecms/plugins/sortable/jquery.nestable.js') }}"></script>
    {# <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script> #}
    <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>


    {{ include('@ScorePage/Admin/_js.html.twig') }}
    <script type="text/javascript">
        $(".dd").nestable();

        //   SHOW OVERLAY
        $('.add-block a').on('click', function (e) {
            e.preventDefault();
            $('.overlay-modal').show(300).find('table').data('target', this.dataset.target)
        })

        const hideModal = () => {
            $('.overlay-modal').hide(150)
        }

        //  ADD BLOK FROM MODAL
        $('.overlay-modal table a').on('click', function (e) {
            e.preventDefault();

            let placeChoice = $(this).parents('table').data('target')
            let list = $('ol#block-' + placeChoice);
            let currenItemsCount = parseInt(list.attr('data-count'));
            let newItemsCount = currenItemsCount + 1;

            let newItem = $('<li/>', {'class': 'dd-item', 'data-id': newItemsCount});
            let newItemWrap = $('<div/>', {'class': 'dd-item-wrap'});

            let newItemEdit = $('<div/>', {'class': 'menu-item-edit-block'})
                .append($('<input/>', {
                    'type': 'hidden',
                    'name': 'page_blocks[' + placeChoice + '][]',
                    'value': this.dataset.id
                }))
                .append($('<div/>', {'class': 'box-body clear'}));

            newItemWrap
                .append($('<a/>', {
                    'class': 'remove-block-trigger btn btn-sm btn-danger pull-right',
                    'href': '#',
                    'text': '{{ 'score.page.edit.block.delete'|trans }}'
                }))
                .append($('<span/>', {'class': 'dd-handle', 'text': this.dataset.name}))
                .append(newItemEdit);

            newItem.append(newItemWrap);
            list.attr('data-count', newItemsCount).append(newItem);

            hideModal();
        });

        //  ZAVRIET OVERLAY MODAL s vyberom blokov (klik na krizik)
        $('.close-overlay').on('click', function (e) {
            e.preventDefault();
            hideModal();
        })

        //  ZAVRIET OVERLAY MODAL s vyberom blokov (klaves ESC)
        $(document).keyup(function (e) {
            e.stopPropagation();
            if (e.key === "Escape") {
                hideModal();
            }
        });

        //   ODSTRANENIE BLOKU
        $('body').on('click', '.remove-block-trigger', function (e) {
            e.preventDefault();
            $(this).parents('li.dd-item').remove();
        });

        //    DATATABLES vo vybere blokov modal
        $('#page-blocks-datatable').DataTable({
            language: {
                url: "{{ asset('bundles/scorecms/plugins/datatables/'~ lang ~'.js') }}"
            },
            "ordering": false
        });

        // LOGS - VRATENIE DO STAVU SPRED...
        $('.log-list a').on('click', function (e) {
            e.preventDefault();
            $('.log-list a').css({color: ''})
            $(this).css({color: '#d77'})
            CKEDITOR.instances['test'].setData(this.dataset.content);
        })
    </script>
{% endblock %}


{% block content_header_title %}
    <h1>{{ 'score.page.edit.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.page.edit.breadcrumb' | trans }}</li>
{% endblock %}


{% block body %}

    {# % for flash_message in app.session.flashBag.get('score_cms_page_edit_success') %}
        <div class="alert alert-success">
            {{ flash_message|trans }}
        </div>
    {% endfor % #}

    {{ m.alerts() }}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li class="{{ activeSection == 'page' ? ' active' }}"><a href="#tab_1"
                                                                     data-toggle="tab">{{ 'score.page.edit.contentTitle'|trans }}</a>
            </li>
            <li class="{{ activeSection == 'block' ? ' active' }}"><a href="#tab_2"
                                                                      data-toggle="tab">{{ 'score.page.edit.blocksTitle'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane{{ activeSection == 'page' ? ' active' }}" id="tab_1">
                {{ include('@ScorePage/Admin/_contentForm.html.twig', { 'form': form, 'parentPages':parentPages}) }}

            </div><!-- /.tab-pane -->
            <div class="tab-pane{{ activeSection == 'block' ? ' active' }}" id="tab_2">
                {{ include('@ScorePage/Admin/_blocks.html.twig', { 'availableBlocks': availableBlocks, 'page':page}) }}
            </div><!-- /.tab-pane -->

        </div><!-- /.tab-content -->
    </div>
{% endblock %}










