{% extends '@ScoreCms/Default/adminLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_header_title %}
    <h1>{{ 'score.page.list.topTitle'|trans }} </h1>
{% endblock %}

{% block content_header_breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'score.page.list.breadcrumb' | trans }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="pages-datatable" class="table table-striped display compact">
                        <thead>
                        <tr>
                            <th>{{ 'score.page.list.name'|trans }}</th>

                            <th>{{ 'score.page.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in list %}
                            <tr>
                                <td>
                                    <a class="lvl_{{ page.lvl }}"
                                       href="{{ path('score_cms_page_edit',{id:page.id}) }}">{{ page.lvlPrefix }} {{ page.name }}</a>
                                </td>
                                <td>
                                    <a class="delete-page"
                                       href="{{ path('score_cms_page_delete',{id:page.id}) }}">{{ 'score.page.list.delete'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="box box-primary">
                <div class="box-body">

                    <a href="{{ path('score_cms_page_create',{parent_id:0}) }}"
                       class="btn btn-primary">{{ 'score.page.list.create'|trans }} </a>


                </div>
            </div>
        </div>
    </div>


    {{ include('@ScorePage/Admin/_delete_modal.html.twig') }}

{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/scorecms/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/scorecms/plugins/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('bundles/scorepage/js/PageManager.js') }}"></script>
        <script type="text/javascript">

            $('#pages-datatable').DataTable({
                language: {
                    url: {{ asset('bundles/scorecms/plugins/datatables/'~ lang ~'.js') }}
                },
                "ordering": false
            });


            /*
             var page_manager = new PageManager();
             page_manager.reorder_pages_url_url = '{{ path('score_cms_page_subpages_reorder') }}';
             page_manager.bindTriggers();

             $(".ui-sortable").sortable({
             update: function (event, ui) {
             var sorted = $(this).sortable("serialize");
             page_manager.reorderPages(sorted);
             }
             });
    */

        </script>

        <script>

            $('body').on('click', '.delete-page', function (e) {
                e.preventDefault();
                $('#confirm-delete-page-modal .btn-success').attr('href', $(this).attr('href'));
                $('#confirm-delete-page-modal').modal('show');
            });
        </script>
    {% endblock %}


