.keyword-container {
    text-align: center;
}
.keyword-wrap {
    display: inline-block;
    width: 7%;
    font-size: 12px;
    background: gray;
    height: 50px;
    text-align: center;
    color: white;
    margin: 0.22%;
} 