{% if 'static' == pageBlock.block.type  %}
    {{ pageBlock.block.content | raw}}
{% endif %}


{% if 'menu' == pageBlock.block.type  %}
        {{ render(controller('Score\\PageBundle\\Controller\\PublicController::blockMenuAction',{'menuId':pageBlock.block.params.menuId ?? 0})) }}
    {#    {{ render(controller('Score\\PageBundle\\Controller\\PublicController::blockMenuAction',{'menuId':pageBlock.block.menuId})) }}#}
{% endif %}


{% if 'form' == pageBlock.block.type  %}
    <div data-cms="react-form" data-form-id="{{ pageBlock.block.params.formId ?? 0}}"></div>
{% endif %}

{% if 'gallery' == pageBlock.block.type  %}
    <div data-cms="react-gallery" data-gallery-id="{{ pageBlock.block.params.galleryId ?? 0}}"></div>
{% endif %}

{% if 'controllerContent' == pageBlock.block.type  %}
       {{ render(controller(pageBlock.block.module ~ '::' ~ pageBlock.block.action)) }}  
{% endif %}
