<!doctype html>
<html lang="sk" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        {% block title %}Score cm
        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link href="{{ asset('bundles/scorepage/theme/default/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="d-flex flex-column h-100">

{{ include('@ScorePage/Public/header.html.twig') }}


<main class="flex-shrink-0"> {% block body %}{% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Copyright: {{ 'now'|date('Y') }} | mail: <a href="mailto:info@sazp.sk">info@sazp.sk</a> | tel.: <a
                            href="tel:+421 123456789">+421 123456789</a></p>
            </div>
            <div class="col">
                <p>
                    Prevádzku webového sídla
                    <a onclick="_blank" href="#">www.XY.sk</a>
                    a správu jej obsahu zabezpečuje
                    <br><a onclick="_blank" href="https://www.sazp.sk/kontakt/kontakt-sazp.html">Slovenská agentúra
                        životného prostredia.</a>
                    <br>
                    <a href="{{ path('default_subpage',{'seoid':'vyhlasenie-o-pristupnosti'}) }}">Vyhlásenie o
                        prístupnosti</a>
                </p>
            </div>
        </div>
    </div>
</footer>


{% block javascripts %}
    <script src="{{ asset('bundles/scorepage/theme/default/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
