<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Score CMS</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
				{{ render(controller('Score\\PageBundle\\Controller\\PublicController::mainMenuAction')) }}
				<form>
					<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				</form>
			</div>
		</div>
	</nav>

</div>
