
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#    <li class="nav-item">#}
{#        <a  class="nav-link" href="{{ path('homepage') }}">Home</a>#}
{#    </li>#}
    {{ include('@ScorePage/Public/menuTree.html.twig',{'items': menuTree}) }}
</ul>


