{% for item in items %}
    <li id="menu_item_{{ item.node.id }}" class="nav-item">
        {% if 'page' == item.node.linkType %}
        <a class="nav-link" href="{{ item.node.publicLink is same as "homepage"
        ?  "/" : path('default_subpage',{'seoid':item.node.publicLink}) }}">
            {% else %}
            <a class="nav-link" href="{{ item.node.publicLink }}">
                {% endif %}
                {{ item.node.name }}
            </a>
            {% if item.children is defined %}
                <ul>
                    {{ include('@ScorePage/Public/menuTree.html.twig',{'items': item.children}) }}
                </ul>
            {% endif %}
    </li>
{% endfor %}
